.DetailHeaderImg Img{
    height: 500px;
}
.aboutTeam{
    margin: 5px;
    border: 2px solid blue;
    background-color: rgb(45, 35, 70);
    
    border-radius: 5px;
    display: flex;
}
.aboutTeam p{
    color: white;
    /* color:black; */
    
}
.TeamName{
    font-size: 30px;
    font-weight: 600;
}
.teamImg Img{
    /* border: 2px solid black; */
    height:200px;
    width: 200px;
    margin-left: 42%;
    /* margin-top: 5%; */
}
.genderImg img{
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    margin-left: 550px;
   
}